h1 {
    color:seagreen;
    border-width: 8px;
    border-style:outset;
    border-color: darkslategray;
    padding: 18px 18px 18px 18px;
    margin: 50px 50px 50px 50px;
    background-color: cornsilk;
    text-align: center;
    font-size: xxx-large;
}

h2 {
   color: seagreen;
   border-width: 8px;
   padding: 10px 10px 10px 10px;
   margin: 30px 30px 30px 30px;
   border-color: rgb(222, 110, 132);
   background-color: cornsilk;
   text-align: center;
}

h3  {
   font-size: large;
   color: seagreen;
   border-width: 8px;
   padding: 10px 10px 10px 10px;
   margin: 30px 30px 30px 30px;
   border-color: rgb(222, 110, 132);
   background-color: cornsilk;
   text-align: center;
}

main.container {
   border-color:darkslategray;
   background-color:powderblue;
   padding: 15px 15px 15px 15px;
   border-radius: 70px;
}

.container {
   max-width: 1300px;
   margin: 3em auto 3em auto;
   color:black;
   border: 5px solid;
   }

 img {
     width: 100%;
     height: auto;
     }

     nav ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

nav ul li {
  flex:1;
  list-style-type: none;
}

nav ul li a {
  display: block;
  padding: 0.75em;
  margin: 0.25em;  
  background-color:rgb(166, 150, 172);
  color: rgb(7, 6, 6);  
  text-align: center;
  text-decoration: none;  
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: seagreen;
  box-shadow: inset 5px 5px 5px rgb(16, 50, 31);  
}

@media screen and (max-width: 760px) {
  nav ul {
      flex-direction: column;
      padding: 0 20px;
      }
  nav ul li {
    margin:10px 0;
    }
}

body {
background-color:cornsilk;
}
