h1 {
    color:seagreen;
    border-width: 8px;
    border-style: groove;
    border-color: rgb(222, 110, 132);
    padding: 18px 18px 18px 18px;
    margin: 50px 50px 50px 50px;
    background-color: lightblue;
    text-align: center;
    font-size: xxx-large;
}

h2 {
   color: seagreen;
   border-width: 8px;
   padding: 10px 10px 10px 10px;
   margin: 30px 30px 30px 30px;
   border-color: rgb(222, 110, 132);
   background-color: lavender;
   text-align: center;
}

h3  {
   font-size: x-large;
   color: seagreen;
   padding: 10px 10px 10px 10px;
}